@import '../variables/grid';

.appWrapper {
  display: grid;
  row-gap: $gridGap;
  height: 100vh;
  grid-template-rows: 80px 1fr;
}

.mainSection {
  display: grid;
  grid-template-columns: 175px auto;
  column-gap: 20px;
}
