@import "../variables/colors";
@import "../variables/grid";
@import "../variables/fonts";
@import "../variables/misc";

.filterItemWrapper {
  display: grid;
  border-bottom:1px solid $midGray;
}

.filterItemWrapper:last-child{
  border-bottom:none;
}

.filterItemWrapper:nth-last-child(2){
  border-bottom:none;
}

.input {
  width: 140px;
  border-radius: 6px;
  outline: none;
  border: 1px solid $lightBorderColor;
  height: 30px;
  padding: 0 5px;
}
