@import "../variables/colors";
@import "../variables/grid";
@import "../variables/fonts";
@import "../variables/misc";

.filterMenuWrapper {
  display: grid;
  padding: 16px 0;
  grid-template-columns: auto auto;
  margin-top: $smallMarginGutter;
  row-gap: $gridGap;
  border: 1px solid $midGray;
  border-radius: 8px;
  @media screen and (max-width: 920px) {
    grid-template-columns: auto;
  }
}

.button {
  border: 1px solid $midGray;
  font-size: 18px;
  height: 30px;
  width: 140px;
  align-self: flex-end;
}
