@import url('https://fonts.googleapis.com/css?family=Fira+Sans:500,700|Lato&display=swap&subset=latin-ext');

html {
  font-size: 100%;
}

body {
  font-size: $bodyFontSize;
  font-family: $fontFamily, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-weight: $fontWeight;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $headingFontFamily, $fontFamily, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-weight: $headingFontWeight;
  margin: 1em 0 0.5em;
  letter-spacing: -0.02em;

  &.offMargin {
    margin: 0 !important;
  }
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.3rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.2rem;
}

h6 {
  font-size: 1rem;
}
