$red: #f21030;
$white: #ffffff;
$black: #212128;
$blue: #0088eb;

$green: #3ac265;

$gray: #edeef2;
$lightGray: lighten($gray, 3);
$midGray: #aebec2;
$darkerGray: #8193a2;
$doveGray: #767676;
$darkestGray: darken($darkerGray, 10);
