$bodyFontSize: 1rem;
$smallFontSize: 0.85rem;

$fontFamily: 'Lato';
$fullFontFamily: $fontFamily, 'Helvetica Neue', Arial, Helvetica, sans-serif;
$headingFontFamily: 'Fira Sans';

$headingFontWeight: 600;
$fontWeight: 400;

$inputFontSize: 1rem;
